* {
  box-sizing: border-box;
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(4, 4, 87);
  font-size: 1.1rem;
}
h1 {
  text-align: center;
  color: rgb(90, 12, 29);
  margin-bottom: 20px;
}
header {
  height: 10vh;
  text-align: center;
}
nav {
  border: 1px dashed blue;
  background-color: bisque;
  border-radius: 5px;
}
nav li {
  display: inline-block;
  font-size: 1.3rem;
}
.intro {
  height: 30vh;
}
p {
  text-align: justify;
  padding-top: 15px;
}
.about {
  height: 60vh;
}
footer {
  clear: both;
  height: 10vh;
  margin-top: 40px;
  margin-left: 30px;
}
